* { 
    margin:0;
    padding:0;
}


body {
    background-color: rgb(219, 221, 107);  
    color: black ;
}

/*Index */
.encabezado  {
    background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
}

.nav_nombre_idea{
    width: 35%;
}

.logo {
    width:60px;
    margin-left: 20px;
    margin-top: 10px;
  
}

.nav_redes {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  
}

#iconos_redes {
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    height: 48px;
    width: 48px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;
}

.item_menu {
    position: relative;
    text-decoration: none;
    color: #000000;

}

.lista_nav {
    position: relative;
}

#nav_menu {
    top: 20px;
  }

ul, ol {
    list-style: none;
}

#nav_menu  ul li ul a {
    color: #000000;
    text-decoration: none;
    display: block;
}



#nav_menu li ul {
    display:none;
    min-width: 100px;
}

#nav_menu li:hover > ul {
    display: block;

}



.contenedor_imagenes {
    display: flex;
}


.anuncio-1 {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:aliceblue;
    width: 300px;
    padding-left: 35px;
    position: absolute;
    top: 24%;
    left: 16%;
    transition: color 0.8s linear 0.2s;
}

.anuncio-1:hover {
   color:#799F0C;
}

.anuncio-2 {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:aliceblue;
    width: 300px;
    padding-left: 35px;
    position: absolute;
    top: 24%;
    right: 16%;
    transition: color 0.8s linear 0.2s;
}

.anuncio-2:hover {
    color:#799F0C;
 }

.anuncio-3 {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:aliceblue;
    width: 300px;
    padding-left: 35px;
    position: absolute;
    top: 115%;
    left: 35%;
    transition: color 0.8s linear 0.2s;
}

.anuncio-3:hover {
    color:#799F0C;
 }

.imagen-1 {
    width: 25rem;
    height: 30rem;
    margin-right: 20px;
    margin-left: 170px;
    margin-top: 8%;
}

.imagen-2 {
    width: 25rem;
    margin-left: 85px;
    height: 30rem;
    margin-top: 10%;
}

.imagen-3 {
    width: 1150px;
    height: 30rem;
    margin-left: 58px;
    margin-top: 21px;
    border-radius: 5px;
    border-color: black;
}





/* Acerca de  */
.espacio_vacio_acerca {
   background-color: floralwhite;
   height: 80px;
  
}


.parrafo_acerca {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20%;
    width: 490px;
    position: relative;
    top: 113px;
    left: 356px;

}

.parrafo_acerca:hover{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    font-size: 21px; 
}


.contenedor_main {
    height: 50rem;
    background-color: floralwhite;
   
}

.conteiner_foto_diseñadoras {
    display: flex;
}

.foto_diseñadora_1 {
    width: 201px;
    height: 200px;
    border-radius: 50%;
    margin-top: 100px;
    position: relative;
    left: 405px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.foto_diseñadora_1:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}


.foto_diseñadora_2 {
    width: 201px;
    height: 200px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 35%;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.foto_diseñadora_2:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.contenedor_diseñadoras_nombres {
    display: flex;
    height: 80px;
}

.diseñadora_nombre_1 {
    font-family: cursive;
    font-size: larger;
    margin-top: 15px;
    position: relative;
    left: 397px;
   
}

.diseñadora_nombre_2 {
    font-family: cursive;
    font-size: larger;
    margin-left: 471px;
    /* margin-bottom: 11px; */
    margin-top: 15px;
}

.parrafo_quienes_somos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 562px;
    text-align: center;
    font-size: 21px;
    position: relative;
    left: 28%;
    top: 60px;
}




                                  /* contacto area*/
.body_contact {
    background-color: floralwhite;
}

.encabezado_color {
    height: 120px;
    background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.encabezado_mensaje{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}

.encabezado_deja_msj {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
}

.espacio_vacio_contacto {
    margin-bottom: 10px;
}

.background_contacto{
    background-image: url(../imagenes/fondo_contacto.webp);
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
   
}


.contenedor_formulario {
    height: 500px;
}

.form {
    width: 405px;
    height: 350px;
    margin-top: 15px;
    margin-left: 32%;
    display: flex;     
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
}

.form_nombre {
    margin-top: 10px;
}

                                            /*Proyectos */
.main_servicio {
    background-color: #ebde8d;
}


.contenedor_tarjetas_proyecto {
    display: flex;
    text-align: center;
    
}

#tarjeta_1 {
    width: 700px;
    height: 600px; 
    margin-left: 40px;
    transition: height 1.3s, widht 1.3s;
}

#tarjeta_1:hover {
    width: 705px;
    height: 605px;
    border: 5px solid rgb(239, 243, 169);
}

#tarjeta_2 {
    width: 400px;
    margin-left: 60px;
    transition : widht 1.3s, height 1.3s;
}

#tarjeta_2:hover {
    width: 395px;
    height: 602px;
    border: 5px solid rgb(239, 243, 169);
   
}

.proyecto_descubri {
    text-align: center;
}

.imagen_min1 {
    height: 500px;
    width: 615px;
    margin-left: 13px;
    margin-top: 20px;
    transition : widht 1.3s, height 1.3s;
    
}

.imagen_min1:hover {
    height: 502px;
    width: 617px;
}

.imagen_min2 {
    height: 500px;
    width: 615px;
    transition : widht 1.3s, height 1.3s;
}

.imagen_min2:hover {
    height: 502px;
    width: 617px;
    
}

.espacio_vacio_proyecto {
    height: 50px;
    background-color: floralwhite ;
}

.imagen_min3 {
    height: 500px;
    width: 615px;
    margin-left: 13px;
    transition : widht 1.3s, height 1.3s;   
}

.imagen_min3:hover {
    height: 502px;
    width: 617px;   
}

.imagen_min4 {
    height: 500px;
    width: 615px;
    transition : widht 1.3s, height 1.3s;
}

.imagen_min4:hover {
    height: 502px;
    width: 617px;
    
}

.proyecto_descubri {
   margin: 20px;
}

                                                /*servicios */
.h1_servicio {
    margin:10px;
}

.contenedor_tarjetitas_1 , .contenedor_tarjetitas_2 {
    display: flex;  flex-direction: row; 
   justify-content: space-evenly;
   margin-bottom: 30px;
}

.tarjetita_1 ,.tarjetita_2 , .tarjetita_3 , .tarjetita_4 ,.tarjetita_5 , .tarjetita_6{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: floralwhite  ;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    
}

.contenedor_servicio {
    display: flex;     
   flex-direction: column; 
   justify-content: space-around;
   height: 300px;
}

h5 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.h2_servicios {
    margin-bottom: 10px;
}

.h3_servicios {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 227px;
    background-color: floralwhite  ;
    text-align: center;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.h3_servicios:hover {
    -webkit-transform: translate(10%);
    transform: translate(10%);
}

footer {
    text-align: center; 
}